*{
  background-color: #FFFDEC;
  /* background-color: #F1F0E8; */
  font-family: "Montserrat", serif;
}



.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}